hostname_additional_hosts:
  - ip_address: 10.0.0.136
    hostname: home-1006-vm-dns.skyline.lan
    hostname_short: home-1006-vm-dns
  
  #
#virthost01.skyline.lan: 
#ansible_connection: local # this will overwrite any other type of connections. its needed here.
ansible_become_pass: '{{ localhost_become_pass }}'
#
### PRVS | CONFIG ###
prvs_copy_home: yes                       # Copy default user's home files in place
prvs_root_passwd: yes                     # update root passward
#
dkr_copy_def_files: no                   # Copy default docker files to target server
#
crntb_activate_cronjobs: no
#
#
### APT | PACKAGES INSTALL ###
instl_def_pckg: yes                       # Install complete packages. A 'no' will remove it from the host (apt_def_pckg_lst)
instl_utl_pckg: yes                        # Install complete packages. A 'no' will remove it from the host (apt_util_lst)
sysd_strt_srvc: yes                       # Start services
instl_ansbl_pckg: no                      # Install ansible using PIP (pip_ansbl_pckg_lst apt_ansbl_pckg_lst)
instl_docker_pckg: yes                    # Install Docker package (apt_docker_pckg_lst)
apt_host_pckg_lst:                        # Install Host Specific Packages (keep this empty. use host_var to overwrite it)
- bind9
- bind9utils
- bind9-doc
- dnsutils
pip_host_pckg_lst:                        # Install Host Specific PIP Packages when ansible is also installed

apt_hst_strt_srvc_lst:                        # Ensure Host Specific Services are running.
  - bind9
#
instl_dhcp_srvc: no                       # Install DHCP Service